
.node {
  display: inline-block;
  max-width: 400px;
}

.node ul {
  margin: 0;
  padding: 25px;
  border: 1px solid #eee;
  background: #fafafa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.node ul li {
  display: inline-block;
  margin: 5px;
  padding: 0;
}
