
.node {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  width: 160px;
  margin: 15px;
  float: left;
}

.node h2 {
  font-size: 12px;
  margin: 5px 0;
}

.node .stats {
  float: right;
  font-size: 10px;
  margin-top: -15px;
  color: #333;
}

.node .stats span {
  margin-left: 5px;
}

.node ul {
  margin: 0;
  padding: 15px 10px;
  border: 1px dashed #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.node ul li {
  display: inline-block;
  margin: 5px;
  padding: 0;
}

.process {
  position: relative;
}

.process:after {
  position: absolute;
  bottom: -2px;
  left: 50%;
  display: block;
  content: ' ';
  width: 4px;
  height: 4px;
  background: #999;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin-left: -2px;
}
