
.node {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  width: 310px;
  margin: 15px;
  float: left;
}

.node h2 {
  font-size: 16px;
}

.node .stats {
  float: right;
  margin-top: -20px;
}

.node .stats span {
  margin-left: 10px;
}

.node ul {
  margin: 0;
  padding: 15px;
  border: 1px solid #eee;
  background: #fafafa;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.node ul li {
  display: inline-block;
  margin: 5px;
  padding: 0;
}
